{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary rounded-0"style="border:#FFFFFF">
    <div class="panel-heading rounded-0"style="background-color:#FF5F1F;border:#FF5F1F">
      <h6 class="panel-title">Available Courses</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>

          <th>Exam Name</th>
          <th>Difficulty Level</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for t in courses %}
      <tr>
        <td > {{t.course_name}}</td>
         <td class="select text-center"
         align="center">
      <form method="POST" action="{% url 'student-exam' %}">
          {% csrf_token %}
             <select name="difficulty_level" class="form-control" style="height:30px;" required id="id_difficulty_level" >
                 <option value="" selected>----------</option>
                 <option value="Easy">Easy</option>
                 <option value="Medium">Medium</option>
                 <option value="Hard">Hard</option>
             </select>
             <br>
<!--          <button>Select</button>-->
          </form>
         </td>
        <td class="text-center"><a class="btn btn-primary btn-sm" style="border-radius:0px;background-color:#FF5F1F" href="{% url 'take-exam' t.id  %}"><span class="glyphicon glyphicon-check"></span> Attend Exam</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
<!--{% endblock content %}-->